main {
  box-sizing: border-box;
}

h3 {
  font-size: 1.25rem;
  text-align: center;
}

#topic-form, #favorites {
  float: right;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
}

#topics {
  float: left;
  width: 70%;
}

button {
  color: white;
  background-color: midnightblue;
  font-size: 1rem;
  border-radius: 4px;
  margin: 4px;
}

button:focus {
  outline: none;
}

.giphy-element {
  margin: 1rem;
  border: 1px solid black;
}

.favorite {
  margin: auto;
  width: 100%;
  padding: 0;
  border-radius: 0;
  border: none;
}