body {
  background-image: url("../images/fruit-background.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

h2 {
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px aliceblue;
  margin-top: 0.5rem;
  font-size: 3rem;
}

form {
  display: block;
}

.form {
  bottom: 8px;
}

label {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0;
}

input {
  margin-top: 1px;
}

#topics, #favorites {
  display: none;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  height: 100%;
}

.favorite {
  margin: auto;
  width: 100%;
  padding: 0;
}

.jumbotron {
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

img {
  border-radius: 3px;
}